@charset "UTF-8";

:root {
    --cor1: #E130E1;
    --cor2: #8FBF75;
    --cor3: #95FF5C;
    --cor4: #AA76AA;
    --cor5: #74806E;
}

* {
    font: normal 1em bold arial;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #74806E;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    margin: 5px;
    justify-content: space-between;
}

.botao {
    width: max-content;
    height: max-content;
    background-color: pink;
    border-radius: 10px;
    padding: 7px 5px;
}

a {
    margin: auto;
    text-decoration: none;
    color: rgb(156, 156, 156);
}

h2 {
    font-size: 45px;
    text-align: center;
}

h1 {
    font-size: 30px;
    text-align: end;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 5px;
    height: 100%;
}

main>a {
    max-width: max-content;
    display: inline-block;
    margin: 0px;
    background-color: green;
}

main>img {
    width: 100%;
    height: max-content;
    border: 2px solid #ffffff9d;
    border-radius: 50%;
    box-shadow: 1px 1px 10px #ffffff82;
}

.redes-sociais {
    align-self: flex-end;
}

main>div>a>img {
    width: 30px;
    margin-right: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6%;
    background-color: black;
    color: white;
    text-align: center;
}

/* 
TENTATIVA - 1
body {
    background-image: linear-gradient(to top, #74806E, #8FBF75);
    background-repeat: no-repeat;
    max-width: 900px;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;
    grid-template-rows: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;
    height: 98vh;
}

.menu {
    grid-column-start: 1;
    grid-column-end: 8;
    max-width: max-content;
    padding: 15px 0px 0px 15px;

}

.menu-link {
    color: white;
    background-color: var(--cor1);
    display: inline-block;
    padding: 5px 9px;
    border-radius: 25px;
    text-decoration: none;
}

h1 {
    color: white;
    font-size: 3em;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
}

h2 {
    color: white;
    font-size: 2em;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    align-self: flex-end;
}

div.meio {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: max-content;
    align-self: center;
}

.profissional {
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 1px 1px 50px #4b5348;

}

div.redes {
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 7;
    align-self: flex-end;
    justify-content: flex-end;
}

div.redes>a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-left: 10px;
}

div.redes>a>img {
    height: 40px;
} */